@import '~bootstrap-icons/font/bootstrap-icons.scss';

@import './_gb-variables';
@import './barters.scss';

// change default font
$font-family-sans-serif: $general-font;

$navbar-light-color: $custom-dark;
$navbar-light-toggler-border-color: $custom-dark-light;

// set dropdown link hover bg color
$dropdown-link-hover-bg: $custom-warning;
$dropdown-link-active-bg: $custom-warning-dark;
$dropdown-link-active-color: $navbar-light-color;

$form-input-check-bg: $custom-light;
$input-focus-border-color: $custom-success;
$input-btn-focus-color: $custom-success;

$form-check-input-focus-border: $custom-success;
$form-check-input-focus-box-shadow: $custom-success;

$form-check-input-checked-bg-color: $custom-success;
$form-check-input-checked-border-color: $custom-success;

// override default theme colors
$theme-colors: (
  'primary-light': $custom-primary-light,
  'primary': $custom-primary,
  'primary-dark': $custom-primary-dark,
  'secondary': $custom-secondary,
  'secondary-dark': $custom-secondary-dark,
  'success': $custom-success,
  'success-light': $custom-success-light,
  'success-lightest': $custom-success-lightest,
  'success-dark': $custom-success-dark,
  'info': $custom-info,
  'warning': $custom-warning,
  'warning-dark': $custom-warning-dark,
  'danger': $custom-danger,
  'danger-light': $custom-danger-light,
  'danger-lighter': $custom-danger-lighter,
  'danger-lightest': $custom-danger-lightest,
  'light': $custom-light,
  'light-light': $custom-light-light,
  'light-lighter': $custom-light-lighter,
  'light-dark': $custom-light-dark,
  'light-darker': $custom-light-darker,
  'dark': $custom-dark,
  'dark-lighter': $custom-dark-lighter,
  'dark-lightest': $custom-dark-lightest
);

@import '~bootstrap/scss/bootstrap';

#app-container {
  min-height: 100vh;
}

.vh-100 {
  min-height: 100vh;
}

.vh-75 {
  min-height: 75vh;
}

h1,
h2,
h3,
h4,
h5,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-family: $header-font;
}

.navbar-logo {
  height: 30px;
  @media screen and (min-width:992px){
    height: 50px !important;
    // width: 30px !important;
    
}
}

.navbar-brand-heading {
  letter-spacing: 1.5px;
}

textarea {
  resize: none;
}

a:hover {
  cursor: pointer;
}
